.dialog-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-title{
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.common-label{
    display: flex;
    width: inherit;
    justify-self: flex-start;
    margin: 20px 0 20px 0;
}

.input{
    font-size: 14px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border-radius: 4px;
}

.form-button{
    height: 50px;
    position: relative;
    width: 100%;
}