.container{
    display: flex;
    width: 100% !important;
    height: auto;
    flex-direction: column;
    overflow: hidden;
}

.header{
    display:flex;
    height: 10vh !important;

    font-size: 44px;
    font-weight: 500;

    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;

    color:blanchedalmond;
    background-color: black;
}

.toolbox{
    display:flex;
    width: 80% !important;
    height: 10vh !important;
    align-self: center;
    justify-content: flex-end;
    align-items: center;

    padding: 10px 10px 0 0;
}

.button{
    display: flex;
    width: 10rem;
    height: 3rem;
}

.card-block{
    display: flex;
    width: 100vw !important;
    height: max-content;
    justify-content: center;
    margin: 20px 0px 40px 0px;
}

.card-grid-block{
    display: flex;
    width: 90vw !important;
    height: max-content;
    gap: 2rem;
    background-color: #fff;
    justify-content: center;
    
}

@media only screen and (max-width: 768px) {
    .toolbox{
        justify-content: center;
        align-items: center;

        height: 8vh !important;
    }

    .header{
        justify-content: center;
        align-items: center;

        font-size: 32px;
        padding-left: 0;
    }
    .login-btn{
        display: none;
    }

    .toolbox{
        width: 100vw !important;
        padding: 10px 0 0 0;
    }
}