.card-container{
    display: flex;
    width: 25vw !important;
    height: 35vh !important;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem 0.03rem rgba(0, 0, 0, 0.45);
    overflow: hidden;
    justify-content: flex-start;
    flex-direction: column;
}

.card-container:hover{
    cursor: pointer;
    box-shadow: 0.05rem 0.5rem 0.5rem 0.05rem rgba(0, 0, 0, 0.45);
}

.post-title{
    display: flex;
    width: 100%;
    height: 30% !important;
    top:0;
    left:0;
    font-size: 20px;
    padding: 10px 0px 5px 5px;
    align-self: flex-start;
    justify-content: flex-start;  
}

.post-content{
    display: flex;
    width: 25vw !important;
    max-height: 50% !important;
    font-size: 16px;
    padding:10px 0px 0px 0px;
    overflow:hidden;
    text-overflow: ellipsis;

}

.card-toolbox{
    display: flex;
    width: 100%;
    height: 15% !important;
    position: relative;
    bottom: 0;
    justify-content: flex-end;
    align-items: center;
    padding:0px;
}

@media only screen and (max-width: 768px) {
    .card-container{
        width: 100vw !important;
        height: 30vh !important;
        align-self: center;
        place-self: center;
        justify-self: center;
    }
    .post-title{
        display: flex;
        width: 100%;
        height: max-content;
        font-size: 18px;
        padding: 10px 0px 15px 10px;
        margin-bottom: 5px;
    }
    .post-content{
        display: flex;
        width: 100% !important;
        height: 60% !important;
        font-size: 14px;
        padding:5px 5px 5px 5px;
    }
    
    
    .card-toolbox{
        justify-content: center;
        /* padding:10px; */
    }
}